package ui

templ myworkContent(data queueData) {
	<div class="space-y-4">
		if len(data.Items) == 0 {
			<div class="text-center py-12">
				<p class="text-lg text-base-content/60">You have no claimed items.</p>
				<a href={ templ.SafeURL(data.BasePath + "/") } class="btn btn-primary mt-4">
					Go to Queue
				</a>
			</div>
		} else {
			<div id="queue-table">
				@queueTable(data)
			</div>
		}
	</div>
}
